@import url('variables.css');
.calculator {
    font-family: var(--font-primary);
    padding: var(--space-large) var(--space-medium);
    background-color: var(--color-light);
    max-width: 800px;
    margin: 0 auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    text-align: center;
}
.calculator h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--space-medium);
    color: var(--color-primary);
}
.calculator p {
    font-size: var(--font-size-small);
    margin-bottom: var(--space-medium);
    color: var(--color-dark);
}
#price-calculator {
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
    font-size:var(--font-size-small);
    align-items: center;
}
label {
    font-weight: bold;
    color:var(--color-dark);
    margin-bottom: var(--space-small);
}
select, input[type="number"], input[type="checkbox"] {
    padding: var(--border-radius);
    font-size: var(--font-size-xsmall);
    border-radius: var(--space-small);
    border: 1px solid #ccc;
    width: 100%;
    max-width: 350px;
    margin: 5px 0;
    transition: all 0.3s ease;
}
select:focus, input[type="number"]:focus, input[type="checkbox"]:focus {
    border-color: var(--color-primary); 
}
button {
    padding: var(--space-small) var(--space-medium);
    background-color: var(--color-button);
    color: var(--color-white);
    font-size: var(--font-size-small);
    border: none;
    border-radius: var(--space-small);
    cursor: pointer;
    margin-top: var(--space-medium);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: var(--color-button-hover);
}
h3 {
    font-size: var(--font-size-medium);
    margin-top: 40px;
}
#price-result {
    color: var(--color-primary);
    font-weight: bold;
}
.dark-mode .calculator{
    background-color: var(--color-dark);
    color: var(--color-white);
}
.dark-mode .calculator h2{
    color: var(--color-primary);
}
.dark-mode .calculator p,
.dark-mode label{
    color: var(--color-white);
}
.dark-mode #price-calculator{
    border: 1px solid#444;
}
.dark-mode button{
    background-color: var(--color-button-hover);
}
.dark-mode button:hover {
    background-color: var(--color-button-dark-mode);
}

