*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
} 
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6; 
    color: #333;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; */
}
header{
    background-color: #FFB8E0;
    padding: 30px 0;
    margin:0 auto;
    max-width: 1200px;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a.active {
    text-decoration: underline;
}
footer{
    background-color: #FFB8E0;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}
@media (min-width: 992px) {
    .container {
        flex-direction: row;
    }
}
@media (min-width: 1200px) {
    .container {
        flex-direction: row;
    }
}
.