:root {
    --background-color-light: #f9f9f9;
    --text-color-light: #333;
    --link-color-light: #616b71;
    --header-background-light:#FFB8E0;
    --footer-background-light: #FFB8E0;

    --background-color-dark: #3C3D37;
    --text-color-dark: #ffffff;
    --link-color-dark: #fff;
    --header-background-dark: #BE5985; 
    --footer-background-dark: #BE5985; 
}
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    margin: 0;
    padding: 0;
    line-height: 1.6; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}
header{
    background-color: var(--header-background-light);
    padding: 20px 0;
    margin:0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 110px;
}
nav.menu {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-grow: ;
}
nav.menu .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: 20px; 
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: var(--background-color-light);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a.active {
    text-decoration: underline;
    color: #BE5985;
}
.icon{
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    background-color: #FFB8E0;
    padding: 10px;
    border-radius: 5px;
    
}
footer{
    background-color: var(--footer-background-light);
    color: var(--background-color-light);
    text-align: center;
    padding: 20px;
    width: 100%;
}
body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}
.dark-mode a {
    color: var(--link-color-dark);
}
.dark-mode .icon{
    background-color: #A2678A;
}
.dark-mode #menu-list{
    background-color: #A2678A;
}
#dark-mode-toggle {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    display: inline-block;
}
.dark-mode #dark-mode-toggle i{
    color: #fff;
}
.dark-mode nav ul li a.active {
    text-decoration: underline;
    color: #f4cbe4; 
}
.dark-mode footer {
    background-color: #A2678A; 
}
.dark-mode header {
    background-color: #A2678A; 
}
@media (max-width: 767px) {
    .icon{
        display: block; 
}
#menu-list{
    display: none;
    width: 100%;
    text-align: center;
    background-color: #FFB8E0;
    padding: 20px;
    position: absolute;
    top: 60px;
    right: 0;
    border-radius: 10px;
}
#menu-list li{
    margin: 10px 0;
}
nav ul {
    display: block;
    padding: 0;
}
#menu-list.show {
    display: block; 
    }
}
@media (min-width: 1200px) {
    .container {
        flex-direction: row;
    }
}
