body{
    margin: 0;
    font-family: Arial, sans-serif;
}
header,footer{
    background-color: #333;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}