@import url('variables.css');
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-large) var(--space-medium);
    margin: 0 auto;
    max-width: 1200px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
}
.hero-image{
    flex: 1;
    margin-right: var(--space-small);
}
.hero-image img{
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: var(--box-shadow-dark);
}
.hero-text{
    flex: 2;
    text-align: left;
    color: var(--color-dark) ֳֳ;
    padding-left: var(--space-medium); 
}
.hero-text h1{
    font-size: var(--font-size-large);
    margin-bottom: var(--space-medium);
}
.hero-text p{
    font-size: var(--font-size-small);
    margin-bottom: 30px;
}
.resume-button{
    font-family:var(--font-primary);
    padding: 15px 25px;
    background-color: var(--color-button);
    color: var(--color-white);
    text-decoration: none;
    font-size: var(--font-size-xsmall);
    border-radius: 30px;
}
.resume-button:hover{
    background-color: var(--color-button-hover);
}
.call-to-action{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--space-large);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light); 
    margin: var(--font-size-large) auto;
    max-width: 1200px;
}
.call-to-action .column{
    flex: 1;
    padding: var(--space-medium);
    color: var(--color-button-hover);
}
.call-to-action .column a{
    font-size: var(--font-size-small);
    display: block;
    margin: var(--space-small) 0;
    color:var(--color-button);
    text-decoration: none;
}
.call-to-action a:hover {
    color: var(--color-button-hover); 
}
.my-projects{
    padding: var(--space-large);
    background-color: #f8f8f8;
    margin: var(--space-large) 0;
    border-radius: var(--space-medium);
    box-shadow: var(--box-shadow-light);
}
.my-projects h2{
    font-size: var(--font-size-large);
    text-align: center;
    margin-bottom: var(--space-large);
    color: var(--color-primary);
}
.project {
    margin-bottom: 30px;
    padding: var(--space-medium);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow:var(--box-shadow-light);
    text-align: center; 
}
.project img{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: var(--space-medium);
}
.project h3 {
    font-size: var(--font-size-medium);
    margin-bottom: var(--space-small);
}
.project p {
    font-family:var(--font-primary);
    font-size: var(--font-size-small);
    margin-bottom: var(--space-small);
}
.project .button {
    padding: var(--space-small) var(--space-medium);
    background-color: var(--color-button);
    color: var(--color-white);
    text-decoration: none;
    border-radius: var(--space-small);
    text-align: center;
}
.project .button:hover {
    background-color: var(--color-button-hover);
}
.dark-mode .hero{
    background-color: var(--color-darkMode);
    color: var(--color-white);
}
.dark-mode .hero-text h1,
.dark-mode .hero-text p{
    color: var(--color-white);
}
.dark-mode .resume-button {
    background-color: var(--color-button-hover); 
}
.dark-mode .resume-button:hover {
    background-color: var(--color-button-dark-mode);
}
.dark-mode .call-to-action {
    background-color: var(--color-darkMode); 
}
.dark-mode .call-to-action h2,
.dark-mode .my-projects h2  {
    color: var(--color-white);
}
.dark-mode .my-projects {
    background-color: var(--color-darkMode);
    color: var(--color-white);
}
.dark-mode .project{
    background-color: #424141;
    color: var(--color-white);
}
.dark-mode .project .button{
    background-color: var(--color-button-hover);
}
.dark-mode .project .button:hover {
    background-color: var(--color-button-dark-mode);
}
.dark-mode .call-to-action a {
    color: var(--color-light-accent);
}
.dark-mode .call-to-action a:hover {
    color: var(--color-white);
}
@media (max-width: 767px) {
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero-image{
        margin-bottom: var(--space-medium);
    }
    .hero-text{
        padding-left: 0;
    }
    .call-to-action {
        flex-direction: column;
    }
    .call-to-action.column{
    width: 100%;
    margin-bottom: var(--space-medium);
    }
    .project {
        padding: var(--space-medium);
    }
    .project .button{
        font-size: var(--font-size-small);
    }
    .project h3 {
        font-size: var(--space-small);
    }
    .project-description {
        font-size: var(--font-size-xsmall);
    }
}
