@import url('variables.css');
.skills{
    font-family: var(--font-primary);
    padding: var(--space-large) var(--space-medium);
    background-color: var(--color-light);
    color: var(--color-dark);
}
.skills h1{
    color: var(--color-primary);
    text-align: center;
    font-size: var(--font-size-large);
    margin-bottom: var(--space-small); 
}
.skills-category {
    background-color: var(--color-white);
    padding: var(--space-medium);
    margin-bottom: var(--space-medium);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.skills-category h2 {
    font-size: var(--font-size-medium);
    color: var(--color-dark);
    margin-top: 0;
    margin-bottom: var(--space-small);
}
.skills-category ul {
    list-style-type: none;
    padding: 0;
}
.skills-category ul li {
    font-size: var(--font-size-xsmall);
    margin-bottom: var(--space-small);
    line-height: 1.8;
}
.dark-mode .skills{
    background-color: var(--color-dark);
    color: var(--color-white);
}
.dark-mode .skills h1{
    color: var(--color-primary);
}
.dark-mode .skills h2{
    color: var(--color-accent);
}
.dark-mode .skills-category{
    background-color: var(--color-darkMode);
}
.dark-mode .skills-category ul li {
    color: var(--color-white);
}
